In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import time

In [2]:
tag_lst = ["#Apple", "#Microsoft", "#GameStop", "#MercedesBenz", "#Tesla",
           "#Toyota", "#Nike", "#Adidas", "#Walmart", "#Target", "#HomeDepot", 
           "#BestBuy", "#Costco", "#Hyatt", "#Marriott", "#Verizon", "#RogersCommunications", 
           "#AT&T", "#Citi", "#JPMorgan", "#WellsFargo", "#McDonalds", 
           "#Cineplex", "#Starbucks", "#BerkshireHathaway", "#DeltaAirlines",
           "#StateFarm"]

In [3]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list (Q1)
for tag in tag_lst:
    search = tag + " since:2020-01-01 until:2020-03-31 lang:en -filter:retweets"
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper(search).get_items()):
        if i > 1250:
            break
        tweets_list.append([tag, tweet.date, tweet.id, tweet.content])
    time.sleep(60)
        
tweets_df1 = pd.DataFrame(tweets_list, columns=['Tag', 'Datetime', 'Tweet Id', 'Text'])

In [4]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list (Q2)
for tag in tag_lst:
    search = tag + " since:2020-04-01 until:2020-06-30 lang:en -filter:retweets"
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper(search).get_items()):
        if i > 1250:
            break
        tweets_list.append([tag, tweet.date, tweet.id, tweet.content])
    time.sleep(60)
        
tweets_df2 = pd.DataFrame(tweets_list, columns=['Tag', 'Datetime', 'Tweet Id', 'Text'])

In [5]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list (Q3)
for tag in tag_lst:
    search = tag + " since:2020-07-01 until:2020-09-30 lang:en -filter:retweets"
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper(search).get_items()):
        if i > 1250:
            break
        tweets_list.append([tag, tweet.date, tweet.id, tweet.content])
    time.sleep(60)

tweets_df3 = pd.DataFrame(tweets_list, columns=['Tag', 'Datetime', 'Tweet Id', 'Text'])

In [6]:
# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list (Q4)
for tag in tag_lst:
    search = tag + " since:2020-10-01 until:2020-12-31 lang:en -filter:retweets"
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper(search).get_items()):
        if i > 1250:
            break
        tweets_list.append([tag, tweet.date, tweet.id, tweet.content])
    time.sleep(60)
    
tweets_df4 = pd.DataFrame(tweets_list, columns=['Tag', 'Datetime', 'Tweet Id', 'Text'])

In [7]:
tweets_df = pd.concat([tweets_df1, tweets_df2, tweets_df3, tweets_df4])
tweets_df

,Tag,Datetime,Tweet Id,Text
0,#Marriott,2020-03-30 23:13:45+00:00,1244764781124304897,Yes we will !!! #bonvoy #marriott https://t.co...
1,#Marriott,2020-03-30 22:32:55+00:00,1244754508770693124,Where does your Vacation Club maintenance fee ...
2,#Marriott,2020-03-30 20:39:04+00:00,1244725853847773190,#singapore #marriott #poolside #nightlife #sin...
3,#Marriott,2020-03-30 20:00:18+00:00,1244716100971048960,time to travel! #MembersGetIt #RewardsPoints #...
4,#Marriott,2020-03-30 19:14:47+00:00,1244704646544773121,That’s sweet #Marriott #bonvoy #consultinglife...
...,...,...,...,...
1246,#Marriott,2020-10-30 19:30:36+00:00,1322259629280210944,Hotel firm Marriott fined £18.4m over customer...
1247,#Marriott,2020-10-30 19:15:34+00:00,1322255846827438082,#Marriott has been aware of these #robocalls f...
1248,#Marriott,2020-10-30 19:10:26+00:00,1322254551668396038,#Travel #DataBreach #Privacy\n#Marriott Hotels...
1249,#Marriott,2020-10-30 19:00:44+00:00,1322252111187447809,ICO fines #Marriott International Inc £18.4mil...
1250,#Marriott,2020-10-30 18:10:11+00:00,1322239391037857792,November 3rd is a big day! Election day AND ou...

In [8]:
tweets_df.to_csv('../Data/tweets.csv', index=False, header=True)